body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    border: 0px;
}

.navigation {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    background-color: green;
    background: green;
}

.navigation li{
    flex-direction: row;
    list-style: none;
    margin: 0px;
    padding: 1vw 8.5vw;
    font-size: 150%;
    color: white;
    flex-grow: 1;
    text-align: center;
}

a {
    text-decoration: none;
}

/*Styles. for the Sustainable Cleaning Brushes*/
h1 {
    text-align: center;
    padding: 11vw;
    font-size: 400%;
}

h6 {
    text-align: center;
    font-size: 150%
}

h2 {
    text-align: center;
    font-size: 200%;
}

.top {
    background-image: url("BrushesBackground.JPG");
    height: 100%;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.productContainer {
    border: 1px solid blue;
    display: flex;
    font-size: 125%;
}

.imageItemLeft {
    border: 1px solid red;
    display: flex;
    flex-grow: 1;
}

.textItemRight {
    border: 1px solid red;
    display: flex;
    flex-grow: 2;
    padding: 2vw;
}

/* About */

.pro3title {
    text-align: center;
    font-size: 150%;
}
.detergent-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    justify-content: justify;
}

.detergent {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    justify-content: center;
    font-size: 27px;}

.detergent li {
    padding: 40px;
    font-size: 110%;
    list-style: none;
}
.detergent-pic {
    width: 700px;
}
.detergent2 img {
    height: 450px;
}
.detergent-pic {
    display: flex;
    flex-direction: column;
}
