body {
    margin: 0px;
    padding: 0px;
}

.navigation {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

.navigation li{
    flex-direction: row;
    list-style: none;
    margin: 0px;
    padding: 1vw 9.5vw;
    font-size: 150%;
    color: white;
    flex-grow: 1;
    text-align: center;
}